$header-color: #3F51B5;
$logo-color: #303F9F;
$menu-color: #fff;

$table-color: #03A9F4;
$table-rows-color: #0288D1;

$accent-color: #FF4081;
$primary-color: #C5CAE9;
$block-color: #B3E5FC;
$footer-color: #727272;
$footer-text-color: #B6B6B6;