@import "_reset.scss";

h1 {
	font-size: 24px;
	color: blue;
	margin: 0;
}

nav li {
	list-style: none;
}

a {
	text-decoration: none;
}

.main-nav a,
.logo a {
	display: block;
	text-align: center;
}

footer {
	background: #d9e4ea;
	padding: 1em 0;
	text-align: center;
}

/* ================================= 
  Photo Styles
==================================== */

.club, 
.banner {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.club {
	max-height: 200px;
}

.dynamo {
	background-image: url("images/dynamo.png");
}

.mancity {
	background-image: url("images/mc.png");
}

.banner {
	background-image: url("images/nsk.jpg");
	max-height: 200px;
	background-size: cover;
}

/* ================================= 
  Flexbox Styles
==================================== */

// Main flexbox container

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body > * {
	flex: 1;
}

header,
footer {
	flex: 0;
}

// Announce flexbox container

.announce {
	display: flex;
	flex-direction: column;
	flex: 4;
}

.club {
	flex: 2 150px;
}

.banner {
	flex: 2 400px;
	order: 1;
}

.match-info {
	flex: 0;
}

footer {
	order: 100;
}





// header,
// nav {
// 	display: flex;
// }

// header {
// 	justify-content: space-between;
// }


