@import "_reset.scss";
@import "_variables.scss";

@mixin block-style {
    border: 1px solid black;
    background: $block-color;
    min-width: 240px;
}

body {
    background: $primary-color;
    font-size: 16px;;
}

a {
    text-decoration: none;
}

footer {
    background: $footer-color;
    padding: 1em 0;
    text-align: center;
    color: $footer-text-color;
}

/* ================================= 
  Navigations Styles
==================================== */
header {
    background: $header-color;
}

h1 {
    font-size: 1.75em;
    margin: 0;
    background: $logo-color;
    a {
        color: $menu-color;
    }
}

nav li {
    list-style: none;
    a {
        font-size: 1.125em;
        padding: 0.25em 1em;
        color: $menu-color;
    }
}

.main-nav a,
.logo a {
    display: block;
    text-align: center;
}

/* ================================= 
  Photo Styles
==================================== */

.club-logo, 
.banner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.club-logo {
    min-width: 100px; 
    min-height: 200px;
    max-height: 250px;
}

.dynamo {
    background-image: url("images/dynamo.png");
}

.mancity {
    background-image: url("images/mc.png");
}

.banner {
    background-image: url("images/nsk.jpg");
    max-height: 200px;
    background-size: cover;
}

/* ================================= 
  Flexbox Styles
==================================== */

// Main flexbox container

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > * {
    flex: 1;
}

header,
footer {
    flex: 0;
}

footer {
    order: 100;
}

// Announce flexbox container

.announce {
    display: flex;
    flex: 0;
    padding-top: 10px;
    margin-bottom: 20px;
}

.club {
    flex: 2;
    min-width: 100px;
    min-height: 200px;
    h2 {
        text-align: center;
        font-size: 1.5em;
    }
}

.versus {
    flex: 1;
    min-width: 50px;
    align-self: center;
    font-size: 3em;
    text-align: center;
}

.banner {
    flex: 2 400px;
    order: 1;
}

.match-info {
    flex: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px;
}

.dynamo-info,
.mancity-info {
    display: none;
    flex: 0;
}

// Block for full height of the page
.placeholder {
    flex: 1;
}


/* ================================= 
  Tables with Club's info Styles
==================================== */
.dynamo-info {
    display: block;
}

.club-info,
.match-info,
.head-to-head {
    @include block-style;
}

.club-info {
    margin: 0 auto 20px;
    td {
        padding: 5px 10px 0;
    }
    th {
        text-align: left;
        padding-left: 10px;
        font-weight: bold;
        color: $logo-color;
    }
    &>caption {
        font-size: 1.125em;
        padding-bottom: 5px;
    }
}
.group-stage {
    margin: 10px auto;
    background: $table-color;
    tr {
        color: white;
        &:hover {
            color: $accent-color;
        }
    }   
    tr:nth-child(even) {
        background: $table-rows-color;
    }
    td {
        padding: 7px;
        &:last-child {
            text-align: right;
        }
    }
}

/* ================================= 
  Content Blocks Styles
==================================== */

.head-to-head {
    margin-bottom: 20px;
    padding: 10px;

    table {
        background: $table-rows-color;
        color: #fff;
        margin: 10px auto 0;
        td {
            padding: 5px;
        }
    }
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 400px) {
    .head-to-head,
    .match-info {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
// header,
// nav {
//  display: flex;
// }

// header {
//  justify-content: space-between;
// }


