/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background: #C5CAE9;
  font-size: 16px;
  min-width: 250px; }

a {
  text-decoration: none; }

footer {
  background: #727272;
  padding: 1em 0;
  text-align: center;
  color: #B6B6B6; }

/* ================================= 
  Navigations Styles
==================================== */
header {
  background: #3F51B5; }

h1 {
  font-size: 1.75em;
  margin: 0;
  background: #303F9F; }
  h1 a {
    color: #fff; }

nav li {
  list-style: none; }
  nav li a {
    font-size: 1.125em;
    padding: 0.25em 1em;
    color: #fff; }

.main-nav a,
.logo a {
  display: block;
  text-align: center; }

/* ================================= 
  Photo Styles
==================================== */
.club-logo,
.banner {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain; }

.club-logo {
  min-width: 100px;
  min-height: 200px;
  max-height: 250px; }

.dynamo {
  background-image: url("images/dynamo.png"); }

.mancity {
  background-image: url("images/mc.png"); }

.banner {
  background-image: url("images/nsk.jpg");
  background-size: cover; }

/* ================================= 
  Flexbox Styles
==================================== */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

body > * {
  flex: 1; }

header,
footer {
  flex: 0; }

footer {
  order: 100; }

.announce {
  display: flex;
  flex: 0;
  padding-top: 10px;
  margin-bottom: 20px; }

.club {
  cursor: pointer;
  flex: 2;
  min-width: 100px;
  min-height: 200px; }
  .club h2 {
    text-align: center;
    font-size: 1.5em; }

.versus {
  flex: 1;
  min-width: 50px;
  align-self: center;
  font-size: 3em;
  text-align: center; }

.banner {
  flex: 0;
  order: 1; }

.match-info {
  flex: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px; }

.dynamo-info,
.mancity-info {
  display: none;
  flex: 0; }

.placeholder {
  flex: 1; }

/* ================================= 
  Tables with Club's info Styles
==================================== */
.dynamo-info {
  display: block; }

.club-info,
.match-info,
.head-to-head {
  border: 1px solid black;
  background: #B3E5FC; }

.club-info {
  margin: 0 auto 20px; }
  .club-info td {
    padding: 5px 10px 0; }
  .club-info th {
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    color: #303F9F; }
  .club-info > caption {
    font-size: 1.125em;
    padding-bottom: 5px; }

.group-stage {
  margin: 10px auto;
  background: #03A9F4; }
  .group-stage tr {
    color: white; }
    .group-stage tr:hover {
      color: #FF4081; }
  .group-stage tr:nth-child(even) {
    background: #0288D1; }
  .group-stage td {
    padding: 7px; }
    .group-stage td:last-child {
      text-align: right; }

/* ================================= 
  Content Blocks Styles
==================================== */
.head-to-head {
  margin-bottom: 20px;
  padding: 10px; }
  .head-to-head table {
    background: #0288D1;
    color: #fff;
    margin: 10px auto 0; }
    .head-to-head table tr:first-child {
      border-bottom: 1px solid white; }
    .head-to-head table td {
      padding: 5px; }

/* ================================= 
  Footer
==================================== */
.icon {
  width: 36px; }
  .icon:hover {
    transform: scale(1.5); }

/* ================================= 
  Slider
==================================== */
.person {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 10px;
  padding: 10px; }

.person-info {
  float: left;
  width: 100%; }
  .person-info h3 {
    text-align: center;
    font-size: 1.125em; }
  .person-info p.person-role {
    text-align: center;
    padding-bottom: 10px; }

.person-photo {
  height: 150px;
  margin: 0 auto 5px; }

/* ================================= 
  Media Queries
==================================== */
@media screen and (min-width: 400px) {
  .head-to-head,
  .match-info,
  .banner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex: 0; } }

/*# sourceMappingURL=main.css.map */
